body {
	font-family:Helvetica,arial,sans;
	font-size:10px;
	background-color:#eee;
	color:#222;
	padding:1em 0;
}

header, section {
	width:48em;
	margin:0 auto;
}

header {
	margin-bottom:1em;
}

header blockquote {
	margin: 0 0 2em;
}

header h1 {
	font-size:1.5em;
	margin:1em 0 0;
	font-weight:normal;
}

header cite {
	text-align:right;
	font-size:1.2em;
	display:block;
	width:17em;
	margin:.25em 0 0;
}

#z-sim-init {
	float: left;
	margin-bottom:1em;
	width:48em;
}

#controlswitch {
	font-family:Monaco,"Courier New",Courier,monospace;
	cursor:pointer;
}

label, input {
	display: block;
}

#start, #play, #stop {
	float:left;
}	

#status {	
	clear:both;
}

canvas {
	clear:both;
	display:block;
	margin:1em auto;
	border:1px solid #ddd;
}

#project-status {
	clear:both;
}	